/*  ==========================================================================
    General
    ========================================================================== */
    html {height: 100vh;}
    body {
      font-family: $font--primary;
      font-size: rem(16);
      font-variation-settings: 'wght' 400;
      text-rendering: optimizeLegibility;
      margin: 0;
      padding: 0 0.5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      background-attachment: fixed;
      background-size: rem(20) rem(20);
      background-image: linear-gradient(to right, rgba($color--accent,0.15) 1px, transparent 1px), linear-gradient(to bottom, rgba($color--accent,0.15) 1px, transparent 1px);
      color: $color--accent;
    }

/*  ==========================================================================
    Images
    ========================================================================== */

    img {
      display: block;
      height: auto;
      max-width: 100%;
    }

    a {
      color: $color--accent;
      &:hover,
      &:visited,
      &:active {
        color: $color--accent;
      }
    }


/*  ==========================================================================
    Elements
    ========================================================================== */

		address { margin: 0 0 1.5rem; }
    

    a {
			color: $color--accent;
      text-decoration: underline;
      display: inline-block;
			&:visited {
				color: transparent;
			}
			&:hover {
				text-decoration: none;
				color: $color--dark;
			}
    }

    .button {
      color: $color--accent;
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: hsl(0%,0%,100%);
      border-radius: rem(4);
      margin: 1rem 0;
      text-decoration: none;
      font-size: rem(15);
      text-transform: uppercase;
      text-align: center;
      transition: all 0.25s ease;
	  border: 1px solid $color--accent;
      &:hover {
        background-color: $color--light;
        color: $color--accent;
        box-shadow: 0 4px 4px -1px rgba($color--dark,.2);
        transform: translateY(-0.25rem);
        border: 1px solid transparent;

      }
      &--big {
        @extend .button;
        font-size: rem(20);
        background-color: $color--light;
        border: 1px solid $color--accent;
        color: $color--accent;
      }
    }
