/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 
Px to rem
~~~~~~~~~~~~~~~~~~~~~~~~~ */

$global-font-size: 100%;
$global-font-size-px: 16px;

@function stripUnit($number) {
    @return $number / ($number * 0 + 1);
}
@function unitlessZero($number) {
    $value: $number;
    @if (type-of($value) == number) and stripUnit($value) == 0 {
        $value: stripUnit($value);
    }
    @return $value;
}
@function rootFontSize($html-font-size) {
    @return (stripUnit($html-font-size) * 16)/100;
}
@function rem($val) {
    @return (stripUnit($val) / rootFontSize($global-font-size)) + 0rem;
}

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);
  
    @if $raw-query {
      $query: if(
        type-of($raw-query) == 'string',
        unquote($raw-query),
        inspect($raw-query)
      );
  
      @media #{$query} {
        @content;
      }
    } @else {
      @error 'No value found for `#{$breakpoint}`. '
           + 'Please make sure it is defined in `$breakpoints` map.';
    }
  }