/*	==========================================================================
  	Typography
  	========================================================================== */

		h1 {
			font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
			font-variation-settings: 'wght' 900;
			line-height: 1;
			margin: 1.4rem 0;
			padding: 0;
			display: inline-block;
			text-transform: uppercase;
		}

		h2 {
			font-size:rem(40);
			font-variation-settings: 'wght' 700;
			line-height: 1.2;
			margin: 0 1.4rem 0 0;
			padding: 0;
			&.menu {
				text-transform: uppercase;
				line-height: 0.85;
				font-size: rem(52);
				font-variation-settings: 'wght' 900;
			}

			
		}
		h3 {
			font-size: rem(18);
			font-variation-settings: 'wght' 600;
			line-height: 1.4;
			margin: 0 0 1rem 0;
			padding: 0;
			text-transform: uppercase;
		}


		p {
			font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
			font-variation-settings: 'wght' 400;
			margin: 0 0 1.4rem 0;
			padding: 0;
			line-height: 1.2;
		}
		ul {
			padding: 0;
			font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
			line-height: 1.2;

		}

		b,
		strong { font-variation-settings: 'wght' 600; }

		small {
			font-size: rem(12);
			line-height: 1.2;
		}
		mark {
			  margin: 0 -0.4rem;
			  padding: 0rem 0.4rem;
			  border-radius: 0.8rem 0.3rem;
			  background: transparent;
			  
color: $color--accent;
			  
			  box-decoration-break: clone;
			  
			}
