/* ==========================================================================
   Variables
   ========================================================================== */

  $font--primary:          'Work Sans','Helvetica Neue', Helvetica, Arial,sans-serif;

  $color--dark:            #020202;
  $color--light:           #ffffff;
$color--accent:          lighten($color--dark,40%);
  $color--accent:         #0987FE;
  $color--accent-dark:    hsl(209,99,20);
  $color--accent:       #FF9373;

  $breakpoints: (
   'small':          (min-width: 400px),
   'medium':          (min-width: 800px),
   'large':           (min-width: 1000px),
   'huge':            (min-width: 1200px),
  );