.hub {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
	grid-auto-rows: auto;
	gap: 1rem;
}
.hub-menu {
	background-color: lighten($color--accent,20%);
}
.hub-carta {
	background-color: lighten($color--accent,20%);
	color: $color--light;
	.hub-button {
		color: $color--light;
		text-decoration: none;
	}
}
