.layout {
	background-color: $color--light;
	max-width: rem(768);
	padding: 1rem;
	border-radius: rem(6);
	margin: 0;
	box-shadow: 0 2px 4px -2px rgba($color--dark,.75);
	ul {
		list-style: none;
		margin-bottom: 2rem;
	}
	@include respond-to('medium') {
		margin: 0 auto;
	  }
}
.setmana {
	background-color: lighten($color--accent,20%);
	color: $color--accent;
	margin-bottom: 3rem;
	padding: 1rem;
	@include respond-to('medium') {
		padding: 2rem 3rem;
	}
}
.menuItem {
	display: flex;
	ul {
		margin-left: 0.5rem;
		li {
			margin-bottom: 0.5rem;
		}
	}
	h4 {
		font-size: rem(12);
		font-variation-settings: 'wght' 600;
	}
}
.menuPrice {
  font-size: rem(48);
  font-variation-settings: 'wght' 100;
}

.cart {
		padding: 1rem;
	@include respond-to('medium') {
	padding: 2rem 3rem 5rem 3rem;
	}
}
.cart-list {
  background-color: $color--light;
  color: $color--accent;
  ul {
	list-style: none;
	margin: 0 0 2rem 0;
	li {
	  margin: 0;
	  padding: 0.5rem 0;
	  display: flex;
	  flex-flow: row nowrap;
	  align-items: flex-start;
	  justify-content: space-between;
	  border-top: 1px solid $color--accent;
	  &:first-child {
		border: none;
	  }
	  strong {
		  padding: 0 0 0 1rem;
	  }
	}

  }
  &.wines {
	  color: $color--accent;
	  ul, li {
		 border-color: $color--accent;
	  }
  }
}