/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 
Page home
~~~~~~~~~~~~~~~~~~~~~~~~~ */

.card {
	box-shadow: 0 2px 4px -2px rgba($color--dark,.75);
	padding: 1rem;
	background-color: $color--light;
}

.casa {
  color: $color--accent;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: auto;
  gap: 3rem 0 ;
  padding: 0.5rem 0;
  margin: 6rem 0 0 0;

  @include respond-to('medium') {
  	max-width: rem(1400);
    padding: 1rem 0;
    margin: 1rem auto;
    gap: 1rem 2rem;

  }
  &__header {
    grid-column: 1 / -1;
    grid-row: 1;
    @include respond-to('medium') {
      text-align: center;

    }
  }
  .card {
	&--menu {
	  grid-column: 1 / -1;
	  padding: 3rem 1rem;
	  background-color: transparent;
	  ul {
		  margin-bottom: 2rem;
		  list-style: none;
		  padding: 0;
	  }
	  h4 {
		  font-variation-settings: 'wght' 600;
	  }
	  @include respond-to('medium') {
		grid-column: 2 / 11;
		grid-row: 1 / 2;
		z-index: 1;
		padding: 3rem;
	  }
	  
	}
    
    &--pickup {
      @extend .card;
      grid-column: 1 / -1;
	  padding: 2rem;
	  background-color: lighten($color--accent,40%);
	  @include respond-to('medium') {
		  grid-column: 3 / 8 ;
      transform: translateX(-3rem);
		  grid-row: 2 / 3;
		}
      
    }
  
    
	
	&--away {
      background-color: $color--light;

      box-shadow:
        2px 2px 0 0 rgba($color--accent,1),
        4px 4px 0 0 rgba($color--light,1),
        6px 6px 0 0 rgba($color--accent,1),
        8px 8px 0 0 rgba($color--light,1),
				10px 10px 0 0 rgba($color--accent,1);
      grid-column: 1 / -1;
      padding: 1rem;			
      @include respond-to('medium') {
        grid-column: 8 / 12;
        grid-row: 2 / 4;
      }
      h2 {
        color: $color--accent;
      }
	  	p {
		  	font-size: rem(20);
	  	}
    }
	
	
	&--contact {
	  @extend .card;
	  background: linear-gradient(to bottom, rgba($color--light,0.85) 0%,rgba($color--light,0.85) 100%), url(../images/pattern-debut.jpg) repeat 0 0;
	  grid-column: 1 / -1;
	  grid-row: auto;
	  padding: 0;
	  @include respond-to('medium') {
		grid-column: 6 / 11 ;
		grid-row: 4 / 5;
		transform: translateY(-7rem);
	  }
	  .contact {
		&__header {
		  border-top-left-radius: rem(6);
		  border-top-right-radius: rem(6);
		  background-color: lighten($color--accent,45%);
		  color: $color--light;
		  padding: 0.5rem;
		  display: flex;
		  flex-flow: row nowrap;
		  align-items: center;
		  h3 {
			margin: 0;
			line-height: 1;
			color: $color--accent;
		  }
		}
		&__avatar {
		  height: rem(48);
		  width: rem(48);
		  overflow: hidden;
		  border-radius: 999px;
		  margin-right: 1rem;
		  border: 2px solid $color--light;
		}
		&__list {
		  list-style: none;
		  padding: 1rem;
		  margin: 0;
		  display: flex;
		  flex-flow: column wrap;
		}
		&__item {
		  margin: 0.5rem 0;
		  padding: 0.5rem;
		  border-radius: rem(6);
		  position: relative;
		  max-width: 85%;
		  &.right {
			align-self: flex-end;
			background-color: lighten($color--accent,42%);
			box-shadow: 0px 1px 2px 0 rgba($color--dark,.25);
		  }
		  &.left {
			background-color: lighten($color--accent,50%);
			align-self: flex-start;
			box-shadow: 0px 1px 2px 0 rgba($color--dark,.25);
			color: lighten($color--accent,0%);
		  }
		  &.right::after {
			position: absolute;
			  bottom: 10px;
			  right: -0.75rem;
			content: '';
			display: block;
			width: 0; 
			height: 0; 
			border-top: 0 solid transparent;
			border-bottom: 12px solid transparent;
			border-left: 0.75rem solid lighten($color--accent,42%);
		  } 
		  &.left::before {
			border-radius: 2px;

			position: absolute;
			  bottom: 10px;
			  left: -0.75rem;
			content: '';
			display: block;
			width: 0; 
			height: 0; 
			border-top: 0 solid transparent;
			border-bottom: 12px solid transparent;
			
			border-right: 0.75rem solid lighten($color--dark,90%);
		  } 
		}
	  }
	}
  }
}

.sectionHeader {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0;
  margin: 1rem 0;
  @include respond-to('medium') {
	  margin: 1rem 2rem;
  }
  .button {
    background-color: $color--accent-dark;
    color: $color--light;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
	border-color: $color--accent-dark;
    svg {
      margin-right: 0.5rem;
      path {
        fill: $color--light;
      }

    }
    &:hover {
      color: $color--light;
	  background-color: $color--accent;
	  transform: translate(-1rem,0);
      svg {
        transform: translateX(-0.5rem);
      }
      path {
        fill: $color--dark;
      }
      
    }
  }
}


.menuFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	background-color: $color--accent;
	color: $color--light;
	text-align: center;
	padding: 1rem;
	z-index: 999;
	p {
		margin: 0;
		text-transform: uppercase;
		font-variation-settings: 'wght' 700;		
	}
	a {
		color: $color--light;
	}
}
.location__link {
	text-decoration: none;
	border: 1px solid $color--light;
	border-radius: 999px;
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	font-size: rem(15);
	line-height: 1;
	color: $color--light;
	
		.marker {
			fill: $color--light;
		}
	&:hover {
		border: 1px solid $color--dark;
		.marker {
			fill: $color--dark;
		}
	}
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 
Goodies
~~~~~~~~~~~~~~~~~~~~~~~~~ */

.sardine {
  position: fixed;
  bottom: 30%;
  right: 5%;
  z-index: -2;
}
.pig {
  position: fixed;
  bottom: 15%;
  left: 5%;
  z-index: -2;
}