<div class="cart-layout box">
	{{ range .Site.Data.carta }}
	{{ .Summary | safeHTML}}
	<div class="cart-list">
		<h2>Per picar</h2>
		<ul>
		{{ range .picar }}
			<li>	
				<span class="description">{{ .dishName }}</span>
				<span class="price">{{ .dishPrice }}</span>
			</li>
		{{ end }}
		</ul>
	</div>
	<div class="cart-list">
		<h2>Frescos</h2>
		<ul>
		{{ range .frescos }}
			<li>	
				<span class="description">{{ .dishName }}</span>
				<span class="price">{{ .dishPrice }}</span>
			</li>
		{{end}}
		</ul>	
	</div>
	<div class="cart-list">
		<h2>Clàssics</h2>
		<ul>
		{{ range .classics }}
			<li>	
				<span class="description">{{ .dishName }}</span>
				<span class="price">{{ .dishPrice }}</span>
			</li>
		{{end}}
		</ul>	
	</div>
	<div class="cart-list">
		<h2>Xup-xup</h2>
		<ul>
		{{ range .xup }}
			<li>	
				<span class="description">{{ .dishName }}</span>
				<span class="price">{{ .dishPrice }}</span>
			</li>
		{{end}}
		</ul>	
	</div>
	<div class="cart-list">
		<h2>Postres</h2>
		<ul>
		{{ range .postres }}
			<li>	
				<span class="description">{{ .dishName }}</span>
				<span class="price">{{ .dishPrice }}</span>
			</li>
		{{end}}
		</ul>	
	</div>
</div>
<div class="cart-layout box wines">
	<div class="cart-list">
		<h2>Vins blancs</h2>
		<ul>
		{{ range .blancs }}
			<li>	
				<span class="description">{{ .dishName }}</span>
				<span class="price">{{ .dishPrice }}</span>
			</li>
		{{end}}
		</ul>	
	</div>
	<div class="cart-list">
		<h2>Vins Rosats</h2>
		<ul>
		{{ range .rosats }}
			<li>	
				<span class="description">{{ .dishName }}</span>
				<span class="price">{{ .dishPrice }}</span>
			</li>
		{{end}}
		</ul>	
	</div>
	<div class="cart-list">
		<h2>Escumosos</h2>
		<ul>
		{{ range .escumosos }}
			<li>	
				<span class="description">{{ .dishName }}</span>
				<span class="price">{{ .dishPrice }}</span>
			</li>
		{{end}}
		</ul>	
	</div>
	<div class="cart-list">
		<h2>Vins negres</h2>
		<ul>
		{{ range .negres }}
			<li>	
				<span class="description">{{ .dishName }}</span>
				<span class="price">{{ .dishPrice }}</span>
			</li>
		{{end}}
		</ul>	
	</div>
</div>
{{ end }}
	
</div>