{{ define "main"}}
<main class="casa">
	<div class="card--menu">
		<h2 class="menu">Menú<br>Setmanal</h2><br>	
		<p>De dimarts a divendres 13:30 a 15:30</p>
		{{ range .Site.Data.menu }}
		{{ .Summary | safeHTML}}
		<div class="menuArticle ">
			<h3>{{.title}}<time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
				{{.date}}
				</time></h3>
			<div class="menuItem">
				<h4>1er</h4>
				<ul>
				{{ range .primers }}
					<li>{{ . }}</li>
				{{ end }}
				</ul>
			</div>
			<div class="menuItem">
				<h4>2n</h4>
				<ul>
				{{ range .segons }}
					<li>{{ . }}</li>
				{{end}}
				</ul>	
			</div>
			<div class="menuItem">
				<h4>3er</h4>
				<ul>
				{{ range .tercers }}
					<li>{{ . }}</li>
				{{end}}
				</ul>	
			</div>
			<p class="menuPrice">
				15€
			</p>
		</div>
		{{ end }}
		<div class="menuFooter">
			<p>
				Vols fer una reserva? Trucan's al <a class="sticker__link--classic" href="tel:+34936399088">93&nbsp;639&nbsp;90&nbsp;88</a>
			</p>
			<a class="location__link" href="https://www.google.es/maps/place/Carrer+Lleida,+32,+08901+L'Hospitalet+de+Llobregat,+Barcelona/@41.3625824,2.1008614,18.42z/data=!4m2!3m1!1s0x12a4991f5b5c76a3:0x54c024020321ed42" target="_blank">
				<svg width="24" height="24" version="1.1" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<path class="marker" fill="#000" d="M24,4c-7.73,0 -14,6.27 -14,14c0,10.5 14,26 14,26c0,0 14,-15.5 14,-26c0,-7.73 -6.27,-14 -14,-14Zm0,19c-2.76,0 -5,-2.24 -5,-5c0,-2.76 2.24,-5 5,-5c2.76,0 5,2.24 5,5c0,2.76 -2.24,5 -5,5Z"></path>
						<path fill="none" d="M0,0h48v48h-48Z"></path>
				</svg>
				Carrer de Lleida, 32. L’Hospitalet
			</a>
		</div>
		<!-- <div class="menu--migdia">
			<svg class="menu__icon" width="53px" height="27px" viewBox="0 0 53 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<path d="M52.3867188,26.1933594 C52.3867188,11.7271664 40.6595523,0 26.1933594,0 C11.7271664,0 0,11.7271664 0,26.1933594" id="Path" fill="#FFFFFF"></path>
					<path d="M52.3867188,52.3867188 C52.3867188,37.9205258 40.6595523,26.1933594 26.1933594,26.1933594 C11.7271664,26.1933594 0,37.9205258 0,52.3867188" id="Path-Copy" fill="#FFFFFF" transform="translate(26.193359, 39.290039) scale(1, -1) translate(-26.193359, -39.290039) "></path>
				</g>
			</svg>
			
			<h2>Al migdia</h2>
			<p>Dimecres a diumenge<br>13:30 a 15:30</p>
		</div> -->
		<!-- <div class="menu--nit">
			<svg class="menu__icon" width="53px" height="27px" viewBox="0 0 53 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<path d="M52.3867188,0.193359375 C52.3867188,-14.2728336 40.6595523,-26 26.1933594,-26 C11.7271664,-26 0,-14.2728336 0,0.193359375" id="Path" fill="#FFFFFF"></path>
					<path d="M52.3867188,26.3867188 C52.3867188,11.9205258 40.6595523,0.193359375 26.1933594,0.193359375 C11.7271664,0.193359375 0,11.9205258 0,26.3867188" id="Path-Copy" fill="#FFFFFF" transform="translate(26.193359, 13.290039) scale(1, -1) translate(-26.193359, -13.290039) "></path>
				</g>
			</svg>
			
			<h2>A la nit</h2>
			<p>Dijous a dissabte<br>20:30 a 22:30</p>
		</div> -->
	</div>
	
	<div class="card--pickup">
		<h2><mark>A la carta</mark></h2>
		<p>También puedes escoger platos sueltos de nuestra carta y venir a recogerlos a debut. Elegir, pedir y recoger... así de fácil.</p>
		<a href="carta" class="button">Veure carta</a>
	</div>
		
	
	<div class="card--away">
		<div itemprop="telephone"class="actionItem--phone">
			<h2><mark>Away</mark></h2>
			<p>Fes la comando i ho portem ja sigi al barri o a Barcelona</p>
			<a href="https://yopedire.com/debut/" class="button">Pide para llevar</a><br>
		</div>
	</div>
	
		
	<!-- <div class="card--contact">
		<header class="contact__header">
			<img class="contact__avatar" src="images/avatar_debut.jpg" alt="">
			<h3>Com ho faig?</h3>
		</header>
		<ul class="contact__list">
			<li class="contact__item left">Com faig la meva comanda? 😅🤷🏻 </li>
			<li class="contact__item right">Fàcil! <a class="sticker__link--mobile" href="https://yopedire.com/debut/">fes-la aquí  </a> o també per telèfon “el clàssic” ☎️ <a class="sticker__link--classic" href="tel:+34936399088">93&nbsp;639&nbsp;90&nbsp;88</a></li>
			<li class="contact__item right">Demana’ns tants plats com vulguis... no hi ha comanda mínima!</li>
			<li class="contact__item left">Res més?</li>
			<li class="contact__item right">No t’oblidis de deixar-nos el teu nom, telèfon i l’hora aproximada de recollida. Confirmarem la teva comanda tan aviat com ens sigui possible. Moltes gràcies!! 🙌</li>
			<li class="contact__item left">Gràcies a vosaltres! </li>
		</ul>
	</div> -->

	
</main>

{{end}}
