{{ define "main"}}
<main class="siteMain">
	<div class="lloc box">
		<h2>nº 32</h2>
		<p>Som al barri, al costat de la Rambla i de la nostra vida a L’Hospitalet. El número 32 es el nostre racó preferit del carrer, just <a href="https://www.google.es/maps/place/Carrer+Lleida,+32,+08901+L'Hospitalet+de+Llobregat,+Barcelona/@41.3625824,2.1008614,18.42z/data=!4m2!3m1!1s0x12a4991f5b5c76a3:0x54c024020321ed42">aquí</a>.</p>
		<p>Truca’ns per a qualsevol consulta al ↣&nbsp;93&nbsp;639&nbsp;90&nbsp;88</p>
	</div>
	<div class="intro box">
		<h2>Un bar de L’Hospitalet, a prop de casa, de la gent i de les cosetes que ens agraden.</h2>
	</div>
	<div class="carta box">
		<h2>La carta</h2>
		<p>Plats, platets, raccions, tapes o com vulguis dir-ho. Els clàssics de sempre i noves propostes, vivint en harmonia.</p>
		<a href="/carta" class="button"> Mira la carta</a>	
	</div>
	<div class="insta box">
		<h2>Les fotos</h2>
		<img src="images/foto2_debut.jpg">
		<a href="https://www.instagram.com/debut.bar/" class="button overlay" target="_blank" rel="nofollow"> Instagram</a>	
	</div>
</main>
{{end}}
