<div class="layout">
	<h1>Carta</h1>
	{{ range .Site.Data.carta }}
	{{ .Summary | safeHTML}}
		<div class="cart-list">
			<ul>
			{{ range .primers }}
				<li>	
					{{ .dishName }}
					<strong>{{ .dishPrice }}</strong>
				</li>
			{{ end }}
			</ul>
		</div>
		<div class="cart-list">
			<ul>
			{{ range .segons }}
				<li>	
					{{ .dishName }}
					<strong>{{ .dishPrice }}</strong>
				</li>
			{{end}}
			</ul>	
		</div>
		<div class="cart-list">
			<ul>
			{{ range .tercers }}
				<li>	
					{{ .dishName }}
					<strong>{{ .dishPrice }}</strong>
				</li>
			{{end}}
			</ul>	
		</div>
		<div class="cart-list">
			<ul>
			{{ range .cuarts }}
				<li>	
					{{ .dishName }}
					<strong>{{ .dishPrice }}</strong>
				</li>
			{{end}}
			</ul>	
		</div>
		<div class="cart-list">
			<ul>
			{{ range .postres }}
				<li>	
					{{ .dishName }}
					<strong>{{ .dishPrice }}</strong>
				</li>
			{{end}}
			</ul>	
		</div>
		<div class="cart-list wines">
			<h2>Vins blancs</h2>
			<ul>
			{{ range .blancs }}
				<li>	
					{{ .dishName }}
					<strong>{{ .dishPrice }}</strong>
				</li>
			{{end}}
			</ul>	
		</div>
		<div class="cart-list wines">
			<h2>Vins Rosats</h2>
			<ul>
			{{ range .rosats }}
				<li>	
					{{ .dishName }}
					<strong>{{ .dishPrice }}</strong>
				</li>
			{{end}}
			</ul>	
		</div>
		<div class="cart-list wines">
			<h2>Escumosos</h2>
			<ul>
			{{ range .escumosos }}
				<li>	
					{{ .dishName }}
					<strong>{{ .dishPrice }}</strong>
				</li>
			{{end}}
			</ul>	
		</div>
		<div class="cart-list wines">
			<h2>Vins negres</h2>
			<ul>
			{{ range .negres }}
				<li>	
					{{ .dishName }}
					<strong>{{ .dishPrice }}</strong>
				</li>
			{{end}}
			</ul>	
		</div>
	</div>
	{{ end }}
	
</div>