<div class="layout">
	<h1>Menu</h1>
	{{ range .Site.Data.menu }}
	{{ .Summary | safeHTML}}
	<div class="menuArticle ">
		<h3>{{.title}}<br><time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
			{{.date}}
			</time></h3>
		<div class="menuItem">
			<h4>1er</h4>
			<ul>
			{{ range .primers }}
				<li>{{ . }}</li>
			{{ end }}
			</ul>
		</div>
		<div class="menuItem">
			<h4>2n</h4>
			<ul>
			{{ range .segons }}
				<li>{{ . }}</li>
			{{end}}
			</ul>	
		</div>
		<div class="menuItem">
			<h4>3er</h4>
			<ul>
			{{ range .tercers }}
				<li>{{ . }}</li>
			{{end}}
			</ul>	
		</div>
		<p class="menuPrice">
			18€
		</p>
		<p>*Inclou pa i aigua</p>
	</div>
	{{ end }}
	
</div>