{{ define "main" }}

<main class="{{ .Params.Slug}}">
	<section class="pageSection menu-carta">
	    <header class="sectionHeader">
		  <a class="button" href="javascript: history.go(-1)">
			<svg width="21px" height="8px" viewBox="0 0 21 8" xmlns="http://www.w3.org/2000/svg">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<path d="M17.7162921,0 L20.7397004,3.99906367 L17.7162921,8 L16.5149813,8 L17.9082397,6.14606742 L19.1769663,4.5159176 L0.5,4.5159176 L0.5,3.48314607 L19.1769663,3.48314607 L17.9082397,1.85393258 L16.5149813,0 L17.7162921,0 Z" id="Combined-Shape-Copy" fill="#1A1A1A" transform="translate(10.619850, 4.000000) scale(-1, 1) translate(-10.619850, -4.000000) "></path>
				</g>
			</svg>
		  tornar
		  </a>
		 
		</header>

		{{ partial "menu.html" . }}

		<div class="layout cart">
			{{ .Content }}	
		</div>
	</section>
</main>

{{ end }}