{{ $baseurl := .Site.BaseURL }}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    {{ with .Title | default .Site.Title }}
    <title>{{ . }}</title>
    <meta property="og:title" content="{{ . }}" />
    <meta name="twitter:title" content="{{ . }}" />
    {{ end }}
    {{ with .Description | default .Site.Params.description }}
    <meta property="og:description" content="{{ . }}">
    <meta name="twitter:description" content="{{ . | truncate 200 }}">
    {{ end }}
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ .Site.BaseURL }}images/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ .Site.BaseURL }}images/favicon/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">
    
    {{ if .IsPage }}
    <meta property="og:type" content="article" />
    {{ with .Site.Params.facebook }}
    <meta property="og:article:author" content="https://facebook.com/{{ . }}" />
    {{ end }}
    {{ else }}
    <meta property="og:type" content="website" />
    {{ end }}
    {{ hugo.Generator -}}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bundle.css" />
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15641392-9"></script>
    {{- template "_internal/google_analytics_async.html" . -}}
		<script>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"8214f9d9d5f2b88bbfea9d5ab152bee0"})});</script>
  </head>
  <body>
    <header class="siteHeader">
      <nav class="siteMenu">
        <a href="/">Bar</a>
        <a href="/carta">Carta</a>
        <a href="/contacte">Contacte</a>
      </nav>
      <div class="brandLogo">
        <a href="{{ .Site.BaseURL }}" class="brandLogo-link">
          <svg id="debut-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 44.69"><path d="M25.47,33.31c-.21-.06-.26-.44-.27-.54V8s-.02-.45,.16-.69c.27-.37,.29-.76,.02-.81-.16-.03-.24,.07-.42,.09-.05,0-1.41,.05-2.81,.05-1.04,0-2.11-.02-2.66-.04-.38,0-.39-.1-.59-.1-.41,0-.77,.34-.76,.75,.01,.82,.5,.75,.75,.85,.18,.07,.21,.36,.22,.51v3c-.5-.37-1.07-.58-1.7-.58-2.27,0-6.69,3.54-6.69,12.19,0,6.65,2.7,12.04,6,12.04,.9,0,1.7-.42,2.38-1.15v.59s0,.08,.03,.12c.04,.04,.09,.02,.13,.02,.32-.04,1.18-.1,2.89-.1s2.53,.06,2.87,.1c.34,.03,.38,.09,.58,.07,.41-.04,.72-.47,.7-.88-.04-.66-.57-.64-.83-.71Zm-6.37-19.47V31.58c-.01,.48-.4,.87-.89,.87s-.89-.4-.89-.89c0-.02,0-.04,0-.06V13.88s0-.04,0-.06c0-.49,.4-.89,.89-.89s.88,.39,.89,.87v.04Z"/><path d="M51.33,10.89c-.85,0-1.58,.4-2.2,1.1v-3.99s-.02-.45,.16-.69c.27-.37,.29-.76,.02-.81-.16-.03-.24,.07-.42,.09-.05,0-1.41,.05-2.81,.05-1.02,0-2.05-.02-2.62-.03,0,0,0,0,0,0-.38,0-.39-.1-.59-.1-.41,0-.77,.34-.76,.75,.01,.82,.5,.75,.75,.85,.09,.03,.14,.13,.17,.23v24.65c-.03,.14-.1,.3-.23,.33-.26,.07-.78,.05-.83,.71-.03,.41,.28,.84,.7,.88,.2,.02,.24-.04,.6-.07,0,0,0,0,.01,0,.38-.04,1.23-.09,2.8-.09,1.71,0,2.57,.06,2.89,.1,.04,0,.1,.03,.13-.02,.03-.03,.03-.12,.03-.12v-.73c.67,.82,1.47,1.3,2.39,1.3,4.13,0,6.3-7.05,6.3-12.04,0-9.56-3.19-12.32-6.48-12.32Zm-.42,20.67c0,.49-.4,.89-.89,.89s-.89-.4-.89-.89c0,0,0-.01,0-.02V13.84s0-.01,0-.02c0-.49,.4-.89,.89-.89s.89,.4,.89,.89c0,.02,0,.04,0,.06V31.5s0,.04,0,.06Z"/><path d="M75.05,33.34c-.09-.03-.16-.13-.19-.23V12.68s-.02-.4,.03-.7c.05-.31,.18-.41,.08-.58-.08-.14-.17-.14-.35-.13-.05,0-1.41,.05-2.81,.05-1.02,0-2.05-.02-2.62-.03,0,0,0,0,0,0-.38,0-.39-.1-.59-.1-.41,0-.77,.34-.76,.75,.01,.82,.5,.75,.75,.85,.09,.03,.17,.13,.2,.23,0,0,.01,18.29,.01,18.29,0,.64-.55,1.16-1.19,1.16s-1.16-.52-1.16-1.16c0-.03,0-5.62,0-5.62,0-.01,0-.02,0-.04s0-.02,0-.04V12.68s-.02-.4,.03-.7c.05-.31,.18-.41,.08-.58-.08-.14-.18-.14-.35-.13-.05,0-1.41,.05-2.81,.05-1.02,0-2.05-.02-2.62-.03,0,0,0,0,0,0-.38,0-.39-.1-.59-.1-.41,0-.77,.34-.76,.75,.01,.82,.5,.75,.75,.85,.09,.03,.14,.13,.17,.23V30.11s-.38,5.15,4.49,5.15c2.09,0,2.38-1.29,3.48-1.29,0,0,.31,0,.31,.49s.32,.4,.5,.38c.05,0,1.29-.05,2.69-.05,1.02,0,2.05,.02,2.62,.03,0,0,0,0,0,0,.38,0,.39,.1,.59,.1,.41,0,.77-.34,.76-.75-.01-.82-.5-.75-.75-.85Z"/><path d="M85.75,31.7c-.64,0-.37,.75-1.08,.75-.49,0-.17-.69-.17-1.86,0-.39,0-5.01,0-5.01,0-.01,0-.02,0-.04s0-.02,0-.04V14.95s0-1.36,.87-1.73c.74-.31,.85-1.23,.49-1.7-.43-.56-1.3-.04-1.3-.34,0-.25-.03-1.26,.09-2.69,.07-.85,.34-1.03,.22-1.55-.1-.42-.57-.45-.73-.45s-.76,0-1.18,1.16c-.31,.85-.74,1.79-1.56,2.42-.54,.42-2.24,1.22-3.38,1.13-.58-.05-.93,.17-1.04,.8-.22,1.2,.66,.93,1.08,1.53,.31,.43,.22,2.89,.22,2.89v14.94s-.02,3.9,4.61,3.9c1.9,0,2.8-1.3,3.06-1.68,.73-1.09,.33-1.87-.2-1.87Z"/><path d="M39.64,28.37c-1.84-.19-2.29,1.81-1.85,3.45,.14,.5-.78,1.4-1.92,1.19-1.27-.24-1.47-1.76-1.47-1.76v-11.73c0-1.2,.77-1.24,.77-1.24,1.09,0,5.41,2,5.43-3.45,.01-3.36-3.52-4.28-6.31-3.8-3.15,.54-6.94,3.54-6.94,12.19,0,6.65,3.49,12.04,7.73,12.04,2.74,0,4.25-1.61,4.94-2.7,.69-1.09,1.79-3.96-.39-4.19Zm-5.21-15.07c.5-.98,1.59-.75,1.86-.14,.27,.62,.07,2.59-.57,3.32-.3,.34-1.32,.42-1.57-.55-.22-.86,.09-2.26,.28-2.63Z"/><path d="M97.06,2.94V0H0V41.76H2.94v2.94H100V2.94h-2.94ZM1.47,40.29V1.47H95.6V40.29H1.47Zm97.06,2.94H4.4v-1.47H97.06V4.4h1.47V43.22Z"/></svg>
          <svg id="bar-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 21.4"><path d="M0,0V21.4H33s0-21.4,0-21.4H0ZM31.55,19.94H1.45V1.45s30.09,0,30.09,0V19.94Z"/><path d="M12.37,14.79c.6-.23,1.07-.6,1.43-1.1,.36-.5,.54-1.01,.54-1.53,0-.55-.18-1.03-.55-1.45-.37-.42-1.02-.76-1.96-1.02,.91-.2,1.58-.43,2.01-.67,.44-.24,.77-.55,.99-.93,.22-.38,.33-.74,.33-1.1,0-.44-.14-.83-.42-1.18-.28-.35-.67-.58-1.17-.7-.39-.09-1.03-.14-1.92-.14H7.64s-.08,.28-.08,.28c.5,.02,.82,.09,.96,.2,.15,.12,.22,.26,.22,.44,0,.22-.09,.64-.28,1.28l-1.82,6.26c-.15,.5-.27,.83-.38,.99-.11,.16-.25,.27-.43,.35-.18,.08-.47,.11-.88,.11l-.1,.28h4.23c1.59,0,2.68-.12,3.27-.35Zm-1.28-9.28l.41-.02c.41,0,.74,.11,.98,.35,.24,.25,.37,.56,.37,.95,0,.42-.12,.86-.36,1.32-.24,.47-.55,.8-.95,1.01-.39,.21-.93,.31-1.61,.32l1.15-3.95Zm-2.63,9.03l1.3-4.52c.63,0,1.08,.05,1.34,.15,.26,.1,.48,.29,.65,.55,.17,.26,.25,.56,.25,.9,0,.71-.22,1.38-.65,2-.44,.62-1.21,.93-2.33,.93-.13,0-.31,0-.56-.02Z"/><path d="M15.2,14.79c.2,.38,.54,.57,1,.57,.35,0,.68-.12,.99-.36,.54-.42,1.09-1.12,1.67-2.12l-.18,.61c-.16,.53-.24,.89-.24,1.09,0,.23,.08,.41,.23,.56,.15,.15,.37,.22,.65,.22,.47,0,.9-.15,1.3-.45,.4-.3,.78-.77,1.14-1.42l-.26-.14c-.29,.4-.47,.63-.54,.69-.19,.16-.33,.24-.44,.24-.05,0-.09-.02-.13-.07-.04-.05-.06-.1-.06-.16,0-.03,0-.09,.02-.17l.15-.61,1.46-4.99-1.78,.11-.27,.92c-.08-.43-.21-.73-.38-.89-.17-.16-.4-.24-.68-.24-.51,0-1.05,.23-1.62,.69-.7,.56-1.27,1.29-1.7,2.2-.43,.91-.65,1.72-.65,2.43,0,.48,.1,.9,.31,1.28Zm2.23-4.02c.39-.95,.75-1.58,1.08-1.89,.17-.15,.32-.23,.48-.23s.28,.06,.37,.19c.12,.18,.19,.47,.19,.88,0,.73-.24,1.57-.71,2.51-.27,.54-.56,.99-.89,1.36-.23,.26-.46,.39-.68,.39-.11,0-.2-.06-.29-.18-.09-.12-.13-.31-.13-.57,0-.69,.19-1.51,.58-2.46Z"/><path d="M22.23,15.14h1.82c.26-1.06,.46-1.78,.61-2.16,.14-.38,.35-.84,.61-1.38,.26-.54,.48-.93,.66-1.17,.18-.23,.32-.38,.43-.44,.05-.03,.11-.05,.16-.05,.05,0,.09,.02,.13,.05,.04,.03,.11,.14,.21,.33,.1,.19,.25,.28,.45,.28,.18,0,.35-.11,.5-.32,.23-.33,.35-.74,.35-1.22,0-.28-.07-.5-.2-.65-.13-.15-.3-.23-.51-.23-.31,0-.6,.14-.87,.42-.47,.48-1.17,1.74-2.1,3.8l1.13-4.22h-.45s-2.27,.5-2.27,.5l-.07,.22c.26,0,.43,.02,.51,.05,.08,.04,.15,.09,.2,.17,.05,.08,.07,.18,.07,.32,0,.12-.05,.37-.14,.74l-1.24,4.97Z"/></svg>
        </a>
      </div>
    </header>

    {{ block "main" . }}
    {{ end }}

  {{ block "footer" . }}
    <footer class="siteFooter">
      <p class="disclaimer">
        {{ now.Format "2006"}} Debut.<br>
        Carrer Lleida 32.<br>
        L'Hospitalet de Llobregat.<br>
        <a href="https://www.instagram.com/debut.bar/">Instagram</a><br>
        <a href="/legal-privacitat">Legal</a>
      </p>
      <p>
        Colophon<br>
        — Web: <a href="https://ricardofelix.es" target="_blank" rel="nofollow">Ricardo Félix Studio</a>
      </p>
    </footer>
  {{end}}
    
  </body>
  
</html>
