/* ==========================================================================
   Footer
   ========================================================================== */
	 .pageFooter {
		 display: grid;
		 grid-template-columns: repeat(6,1fr);
		grid-auto-columns: 1fr;
		gap: 2rem;
		 margin: 2rem 0;
		.card {
			&--colophon {
				@extend .card;
				grid-column: 1/7;
				padding: 2rem;
				background-color: $color--accent;
				@include respond-to('medium') {
					grid-column: 1/4;
					grid-row: 1/3;
				}
				.colophon {
					font-size: rem(30);
					font-variation-settings: 'wght' 300;
					margin: 0;
					color: $color--light;
					line-height: 1.2;
				}
			}
			&--mail {
				@extend .card;
				grid-column: 1/6;
				color: $color--accent;
				font-size: rem(13);
				line-height: 1.2;
				background: repeating-linear-gradient(
					  45deg,
					  $color--light,
					  $color--light rem(20),
					  lighten($color--accent,40%) rem(20),
					  lighten($color--accent,40%) rem(60)
					);
					background-size: 200% 200%;

					animation: barberpole 10s forwards infinite ;

				@include respond-to('medium') {
					grid-column: 4/6;
					grid-row: 2/4;
				}
			}
			&--instagram {
				grid-column: 1/7;
				display: flex;
				flex-flow: column wrap;
				justify-content: center;
				padding: 1rem;
				background: linear-gradient(-45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
				@include respond-to('medium') {
					grid-column: 5/7;
					grid-row: 1/2;
				}
				.card__link {
					color: $color--light;
					text-decoration: none;
					font-size: rem(20);
					font-variation-settings: 'wght' 700;
					text-transform: uppercase;
					display: block;
					padding: 1rem;
					
					transition: background-color 1s ease;
					&:hover {
						background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
						color: $color--light;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}
			&__icon {
				margin: 0 0 1rem 0;
				path {
					stroke: $color--accent;
				}
			}
			&--legal {
				@extend .card;
				grid-column: 1/6;
				background-color: hsl(0,0,95%);
				color: hsl(0,0,60%);
				p,a {
					font-size: rem(13);
				}
				@include respond-to('medium') {
					grid-column: 5/-1;
					grid-row: 5;
				}
			}
		}
		
	 }


@keyframes barberpole {
	  100% {
		background-position: 100% 100%;
	  }
	}