.siteHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
	position: fixed;
	top: 1rem;
	left: 0.5rem;
	right: 0.5rem;
	z-index: -1;
	padding: 0;
	grid-column: 1 / -1;
	h1 {
		display: none;
		@include respond-to('small') {
			display: inline-block;
			color: $color--light;
			font-size: calc(60px + (160 - 60) * ((100vw - 300px) / (1600 - 300)));
			line-height: 0.85;
			text-shadow: -1px 1px 0 $color--accent,
			  1px 1px 0 $color--accent,
			 1px -1px 0 $color--accent,
			-1px -1px 0 $color--accent;
			padding: 0 1rem;
		}
	}
	.brandLogo {
		margin-left: auto;
		&__graphic {
			transform: rotate(15deg);
			width: rem(100);
			height: rem(100);
			fill: $color--accent;
		}
	}
    @include respond-to('medium') {
		right: 3rem;
	  .brandLogo__graphic {
		width: rem(140);
		height: rem(140);
	  }
    }
}
