{{ define "main"}}
<main class="casa">
	<div class="card--menu">
		<div class="hub">
			<div class="layout hub-carta">
					<h2>Carta. Sempre disponible!</h2>
					<p>De dimarts a dissabte de 13:00 a 15:30.<br  /> Divendres i dissabtes a la nit, de 20:30 a 22:30</p>
				<a class="button" href="/carta">
					Veure la carta
				</a>
			</div>
			<div class="layout hub-menu">
				<h2>Menú setmanal.</h2>
				<p>De dimarts a divendres de 13:00 a 15:30.</p>
				<a class="button" href="/menu-debut">
					Veure el menu d'avui
				</a>		
			</div>
		</div>
		<div class="menuFooter">
			<p>
				Reserves i comandes <a class="sticker__link--classic" href="tel:+34936399088">93&nbsp;639&nbsp;90&nbsp;88</a>
			</p>
		</div>
	</div>
	
	<div class="card--pickup">
		<h2>Per recollir</h2>
		<p>També pots triar plats de la nostra carta o menú i venir a recollir-los al Debut. Triar, demanar i recollir… així de fàcil</p>
		<p>Tria els teus favorits i truca’ns al <a class="sticker__link--classic" href="tel:+34936399088">93&nbsp;639&nbsp;90&nbsp;88</a></p>
	</div>
		
	
	<div class="card--away">
		<div itemprop="telephone"class="actionItem--phone">
			<h2><mark>Away</mark></h2>
			<p>Fes la comanda i te la portem ja sigui al barri o a Barcelona</p>
			<a href="https://yopedire.com/debut/" class="button">Demana per emportar</a><br>
		</div>
	</div>
</main>

{{end}}
